#brand {
    font-family: 'Rochester';
    font-style: normal;
    box-shadow: 0px 1px 0px black;
    padding-top: 43px;
}

#description {
    font-size: 12px;
}

#card-holder {
    width: 262px;
}

#cart-img {
    height: 60px;
    width: 80px;
}

#main {
    margin-left: 100px;
    margin-right: 100px;
}

.cancel {
    background-color: #8C162C;
    color: white;
    height: 47px;
    padding-right: 15px;
    padding-left: 15px;
}

.confirm {
    background-color: #708C32;
    color: white;
    height: 47px;
    padding-right: 15px;
    padding-left: 15px;
}

#popover {
    visibility: hidden;
    height: 447px;
}

#add-cart {
    background-color: #F2A950;
}

#navbar {
    background-color: #333A40;
    margin-top: 10px;
    box-shadow: 0px 1px 0px black;
    height: 81px;
}

.card-image {
    width: 175px;
}

#banner {
    margin-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 0px black;
}

#title {
    font-family: 'Roboto';
    font-size: 30px;
    padding-top: 30px;
    box-shadow: 0px 1px 0px black;
}

#detail-title {
    font-family: 'Roboto';
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 23px;
    box-shadow: 0px 1px 0px black;
}

#detail-content {
    padding-right: 50px;
    padding-left: 100px;
}

.card-img-top {
    width: 175px;
    height: 130px;
    object-fit: cover;
}

#cart {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
}

#popover-container {
    padding-top: 42px;
    padding-bottom: 73px;
    padding-left: 48px;
    padding-right: 40px;
}

.confirm-popover {
    border: none;
    margin-top: 69px;
    margin-bottom: 18px;
}

.cancel-popover {
    border: none;
}

.question {
    padding-top: 26px;
    padding-bottom: 26px;
    box-shadow: 0px 1px 0px black;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
}

.title-popover {
    box-shadow: 0px 1px 0px black;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
}

@media (max-width:768px) {
    #banner {
        visibility: hidden;
        margin-top: 0px;
        padding-bottom: 0px;
        box-shadow: 0px 0px 0px black;
        height: 0px;
    }
    #navbar {
        background-color: #FDCD55;
        margin-left: 63px;
        margin-right: 59px;
        margin-top: initial;
        box-shadow: 0px 0px 0px black;
        height: initial;
        min-height: 39px;
    }
    #brand {
        box-shadow: 0px 0px 0px black;
    }
    #title {
        visibility: hidden;
        height: 0px;
    }
    #detail-title {
        font-size: 18px;
        box-shadow: 0px 0px 0px black;
    }
    #detail-content {
        padding-right: 21px;
        padding-left: 31px;
    }
    .table {
        border: 1px solid black;
    }
    #popover {
        top: 136px;
        width: 357px;
        height: 500px;
        border: 1px solid black;
    }
    .question {
        box-shadow: 0px 0px 0px black;
    }
    .title-popover {
        box-shadow: 0px 0px 0px black;
    }
    #popover-container {
        padding-left: 24px;
        padding-right: 33px;
    }
    .confirm-popover {
        width: 308px;
    }
    #brand-title {
        font-size: 48px;
    }
    #cart-img {
        height: 47px;
        width: 39px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #cat1,#cat2,#cat3,#cat4,#cat5 {
        color: black;
    }
    #main {
        margin-left: initial;
        margin-right: initial;
        justify-content: center;
    }
}